<div data-controller="users">
  <button data-action="users#openLoginModal">Login</button>
  <button data-action="users#openSignupModal">Sign Up</button>

  <%= render partial: "users/show" %>
  <%= render partial: "users/new" %>
  <%= render partial: "sessions/new" %>
</div>

<div data-controller="links">
  <%= render partial: "links/new" %>
  <%= render partial: "links/index" %>
</div>