<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>URL Shortener</title>
    <meta name="description" content="Tailwind + Stimulus + Rails 5 app">
    <meta name="keywords" content="url-shortener, shortener, url">

    <meta property="og:title" content="URL Shortener">
    <meta property="og:type" content="website">

    <meta property="og:url" content="https://url-shortener.sjdonado.de">
    <meta property="og:site_name" content="URL Shortener">
    <meta property="og:description" content="Tailwind + Stimulus + Rails 5 app">

    <meta property="og:image" content="https://user-images.githubusercontent.com/27580836/227800665-4ff7e2ae-8189-4593-8961-496b7c9ac861.png">
    <meta property="og:image:alt" content="URL Shortener screenshot">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
